
/*Colors*/
$white:white;
$block-1:#244F75;
$block-2: #60BFBF;
$block-3: #8C4B7E;
$block-4: #F8BB44;
$block-5: #F24B4B;

/*Fonts*/
$lato: "lato";

/*Size*/
$all-screen: 100vh;

/*Animation*/
$ease-out: ease-out;